@import "base/normalize";
@import "base/fonts";
@import "base/variables";
@import "base/mixins";

* {
	box-sizing: border-box;
	background: transparent;
}

body {

}

section {
	padding: 2em 0;
}




